.homepage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 75%;
    border: 2px solid crimson;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 10px auto;
}
.homepage-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px ;
    border-bottom: 2px solid crimson;
    box-sizing: border-box;
    width: 100%;
}
.homepage-header-btn {
    background-color:crimson ;
    color:white ;
    border: 0;
    padding: 4px 8px;
    border-radius: 4px;
    height: 40px;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 10px;
}
.homepage-header-btn:hover {
    color:crimson ;
    background-color:white ;
    border: 1px solid crimson;
}

img {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}
.modal {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}
.canvas-options{
    width: 100%;
    padding: 0px 20px 20px;
   display: flex;
   flex-direction: row;
   box-sizing: border-box;
}
.canvas-options-left,
.canvas-options-right{
    max-width: 200px;
    padding: 0px 10px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
}
.class-font {
    font-family: 'Raleway', sans-serif;
}
@media screen and (max-width:750px){
    .homepage-header {
        display: block;
    }
    .canvas-wrapper {
        padding: 10px 10px;
    }
  }