a {
    text-decoration: none;
    color: #eeeef0;
  }
.reg-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.reg-header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60px;
    width: 100vw;
    background-color: #3b3b4f;
    color: #eeeef0;
    gap: 5px;
    padding-bottom: 5px;
}
.reg-header-elem {
    width: 140px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.reg-header-elem:last-of-type {
    border-bottom: 2px #eeeef0 solid;
}
.reg-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: 0px 20px;
    text-align: center;
    gap: 5px;
}

/* input {
    margin: 0;
    padding: 0;
} */
.reg-input-email,
.reg-input-password,
.reg-btn-reg,
.reg-btn-reset {
    max-width: 300px;
    width: 100%;
    margin: auto;
}
.reg-input-email {
    height: 20px;
    margin-bottom: 10px;
}
.reg-input-password {
    height: 30px;
}
.reg-btn-reg {
    background-color: #d92626;
    color: #eeeef0;
    border: 0;
    height: 20px;
    cursor: pointer;
}
.reg-text-reset {
    margin-top: 10px;
    color: #d92626;
    cursor: pointer;
}